<div class="row">

  <div class="small-12 columns">
    <p>{{ agent }}</p>
  </div>

  <div class="small-12 columns">
    <input type="text" [value]="model.person.name"/>
  </div>

  <div class="small-12 columns">
    <canvas id="signature-canvas"></canvas>
  </div>

</div>

<div class="row">
  <div class="small-6 columns">
    <button type="button" class="button expanded" (click)="getImage()">Ver como imagen</button>
  </div>
  <div class="small-6 columns">
    <button type="button" class="button expanded" (click)="reset()">Borrar</button>
  </div>
</div>

