<div class="row">
Asimismo el posible arrendatario/comprador manifiesta que se compromete a no
realizar ninguna gestión encaminada a adquirir por sí mismo, por medio de
apoderado o por conducto de terceras personas el inmueble visitado por
mediación de MyCantabria Inmobiliaria, ni a poner la información de la que
dispone a disposición de alguno de sus parientes en línea directa o colateral,
para que sean ellos los que realicen el alquiler/compra de dicho inmueble a
espaldas de MyCantabria Inmobiliaria
</div>
