<div class="customer row">

  <div class="small-12 columns">
    <p><b>Código</b>: 2719</p>
  </div>

  <div class="small-12 columns">
    <p><b>Nombre</b>: Sheila</p>
  </div>

  <div class="small-12 columns">
    <p><b>N.I.F.</b>: N/A</p>
  </div>

  <div class="small-12 columns">
    <p><b>Fecha de alta</b>: 22/10/2015</p>
  </div>

  <div class="small-12 columns">
    <p><b>Dirección</b>: N/A</p>
  </div>

  <div class="small-12 columns">
    <p><b>Municipio</b>: N/A</p>
  </div>

  <div class="small-12 columns">
    <p><b>Provincia</b>: N/A</p>
  </div>

  <div class="small-12 columns">
    <p><b>Móvil</b>: 658823451</p>
  </div>

  <div class="small-12 columns">
    <p><b>Teléfono</b>: N/A</p>
  </div>

  <div class="small-12 columns">
    <p><b>Teléfono 2</b>: N/A</p>
  </div>

  <div class="small-12 columns">
    <p><b>Fax</b>: N/A</p>
  </div>

  <div class="small-12 columns">
    <p><b>E-mail</b>: sheilaher1981@hotmail.com</p>
  </div>

</div>
